{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - mememaker
{% endblock %}

{% block content %}
 

        <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
        
            <div class="relative">
                <img id= "meme-image" src="assets/images/{{ image.NAME }}" width="100%">
                <div id="texthaut" class="absolute texthaut text-center"></div>
                <div id="textbas" class="absolute textbas text-center"></div>
            </div>

        </div>


        <div class="col-md-6 col-xs-12 pl-5 pr-5">
            <h1 class="blue">Mememaker</h1>
            <h4>Generateur de memes</h4>

            <div class="row pt-3" id="meme-samples">
                {% for imagedefault in imagedefaults %}
                    <div class="col-3"><img data-id="{{ imagedefault.ID }}" src="./assets/images/{{ imagedefault.NAME }}" width="100"></div>
                {% endfor %}
            
            </div>

            <form class="row pt-3" id="control" action="./assets/image.php" method="post">
                <input type="text" class="inputtxt" id="texthautinput" placeholder="texte haut" name="texthaut">
                <input type="text" class="inputtxt"  id="textbasinput" placeholder="texte bas" name="textbas">
                <input type="hidden" id="idImageUpload" value="{{ image.ID }}" name="test">
                <input class="btn" type="submit" value="Envoyer" name="submit">   
            </form>
        </div>
        

{% endblock %}